# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Quotes data
/tools/GenerateUltimateFile/GenerateUltimateFile/quotes/*
/backtester/ultimate_files/*

# Misc
.DS_STORE
node_modules
*~
*.pyc
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.vcxproj*