@import "constants";

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $menu-width;
  display: block;
  z-index: 1;
  color: #ffffff;
  font-weight: 200;
  background-size: cover;
  background-color: #2e363e;

  nav {
    ul {
      list-style: none;
      li {
        margin: 0;
        border-bottom: 1px solid #2b3035;
        a {
          color: #ffffff;
          position: relative;
          display: block;
          padding: 15px;
          text-decoration: none;

          &:hover:not(.active) {
            background-color: rgba(17, 90, 152, 0.6);
            transition: all 150ms ease-in;
            box-shadow: inset 2px 0 0 0 #33c3f0;
          }
        }
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    width: $menu-closed-width;
    span {
      display: none;
    }
  }
}

.active {
  background-color: rgba(17, 90, 152, 0.6);
  transition: all 150ms ease-in;
  box-shadow: inset 2px 0 0 0 #2898fb;
  border-bottom: none;
}

.logo {
  height: $header-height;
  background-color: #23272c;
}

.backquote {
  color: #33C3F0;
  font-size: 100px;
  position: absolute;
  top: -22px;
  left: 20px;
}

.icon {
  margin: 0 0 0 8px;
  width: 40px;
}